h2 {
  padding-top: 40px;
  font-size: 40px;
  text-align: center;
}
h3 {
  display: flex;
  justify-content: center;
  text-align: center;
}
p {
  display: flex;
  justify-content: center;
  text-align: center;
}
.text {
  padding-top: 30px;
  font-size: 25px;
}
.header {
  padding-top: 20px;
  font-size: 20px;
}
div {
  justify-content: center;
}
