:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

div {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}
