h1 {
  font-size: 30px;
}
div {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  font-size: large;
  mat-label {
    font-size: large;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}
.log {
  padding-top: 10%;
}
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-self: center;
}
